<!DOCTYPE html>
<html>
<head>
  <title>Maurow Gómez</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<!--navbar starts here-->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- can use logo here -->
            <div class="home navbar-brand">
              <%= link_to "MAUROW GÓMEZ", static_pages_index_path %><!--a href="#">MAUROW GÓMEZ</a-->
            </div>
          </div><!-- end navbar header -->
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Sobre mi", static_pages_inicio_path %><!--a href="#abt">Inicio y Desarollo Profesional</a--></li>
                <li><%= link_to "Inglés", static_pages_ingles_path %><!--a href="#hacemos">Inglés Vocacional</a--></li>
                <li><%= link_to "Felicidad", static_pages_ciencia_path %><!--a href="#gallery">Ciencia de la Felicidad</a--></li>
                <li><%= link_to "Catering", static_pages_catering_path %><!--a href="#faque">Catering</a--></li>
                <li><%= link_to "Blog", articles_path %></li>
                <li><%= link_to "Contacto", static_pages_contacto_path %><!--a href="#kntkto">Contáctenos</a--></li>
              </ul>
              <ul class="nav pull-right">
                <li>
                <% if user_signed_in? %>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                <% else %>
                  <%= link_to('Login', new_user_session_path) %>
                <% end %>
                </li>
              </ul>
            </div><!-- collapse -->
        </div><!-- end container -->
      </nav><!-- end navbar -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
<%= yield %>
			<footer>
      	<div class="copyright">
        &copy; Maurow Gómez 2016
      	</div>
    	</footer>
</body>
</html>
